docs/canboat.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PGNDefinitions" type="PGNDefinitions">
    <xs:annotation>
      <xs:documentation>
CANboat version v2.0.0

(C) 2009-2021, Kees Verruijt, Harlingen, The Netherlands.
For more information see https://github.com/canboat/canboat

This file is part of CANboat.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.


</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EnumPair">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:short" name="Value" use="optional"/>
        <xs:attribute type="xs:string" name="Name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LookupEnumeration">
    <xs:sequence>
      <xs:element type="EnumPair" name="EnumPair" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name"/>
    <xs:attribute type="xs:int" name="MaxValue"/>
  </xs:complexType>
  <xs:complexType name="LookupEnumerations">
    <xs:sequence>
      <xs:element type="LookupEnumeration" name="LookupEnumeration" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BitPair">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="Bit" use="optional"/>
        <xs:attribute type="xs:string" name="Name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LookupBitEnumeration">
    <xs:sequence>
      <xs:element type="BitPair" name="BitPair" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name"/>
    <xs:attribute type="xs:byte" name="MaxValue"/>
  </xs:complexType>
  <xs:complexType name="LookupBitEnumerations">
    <xs:sequence>
      <xs:element type="LookupBitEnumeration" name="LookupBitEnumeration" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FieldType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="Description"/>
        <xs:element type="xs:string" name="EncodingDescription"/>
        <xs:element type="xs:string" name="Comment"/>
        <xs:element type="xs:string" name="URL" minOccurs="0"/>
        <xs:element type="xs:float" name="Resolution"/>
        <xs:element type="xs:float" name="Offset"/>
        <xs:element type="xs:string" name="Unit"/>
        <xs:element type="xs:boolean" name="Signed"/>
        <xs:element type="xs:boolean" name="VariableSize"/>
        <xs:element type="xs:short" name="Bits"/>
        <xs:element type="xs:float" name="RangeMin"/>
        <xs:element type="xs:float" name="RangeMax"/>
        <xs:element type="xs:string" name="Format"/>
        <xs:element type="xs:string" name="BaseFieldType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name"/>
  </xs:complexType>
  <xs:complexType name="FieldTypes">
    <xs:sequence>
      <xs:element type="FieldType" name="FieldType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Field">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:byte" name="Order"/>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="xs:short" name="BitLength"/>
      <xs:element type="xs:boolean" name="BitLengthVariable"/>
      <xs:element type="xs:short" name="BitOffset"/>
      <xs:element type="xs:byte" name="BitStart"/>
      <xs:element type="xs:int" name="Match"/>
      <xs:element type="xs:string" name="Type"/>
      <xs:element type="xs:float" name="Resolution"/>
      <xs:element type="xs:int" name="Offset"/>
      <xs:element type="xs:boolean" name="Signed"/>
      <xs:element type="xs:string" name="FieldType"/>
      <xs:element type="xs:string" name="LookupEnumeration"/>
      <xs:element type="xs:string" name="LookupBitEnumeration"/>
      <xs:element type="xs:string" name="Unit"/>
      <xs:element type="xs:string" name="Condition"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Fields">
    <xs:sequence>
      <xs:element type="Field" name="Field" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Missing">
    <xs:sequence>
      <xs:element type="xs:string" name="MissingAttribute" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MissingEnumerations">
    <xs:sequence>
      <xs:element name="MissingAttribute" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute type="xs:string" name="Name"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PGNInfo">
    <xs:sequence>
      <xs:element type="xs:int" name="PGN"/>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="xs:string" name="Explanation" minOccurs="0"/>
      <xs:element type="xs:string" name="Type"/>
      <xs:element type="xs:boolean" name="Complete"/>
      <xs:element type="xs:string" name="Fallback" minOccurs="0"/>
      <xs:element type="Missing" name="Missing" minOccurs="0"/>
      <xs:element type="xs:short" name="FieldCount"/>
      <xs:element type="xs:short" name="MinLength" minOccurs="0"/>
      <xs:element type="xs:short" name="Length" minOccurs="0"/>
      <xs:element type="xs:byte" name="RepeatingFields" minOccurs="0"/>
      <xs:element type="xs:byte" name="RepeatingFieldSet1" minOccurs="0"/>
      <xs:element type="xs:byte" name="RepeatingFieldSet1CountField" minOccurs="0"/>
      <xs:element type="xs:byte" name="RepeatingFieldSet2" minOccurs="0"/>
      <xs:element type="xs:byte" name="RepeatingFieldSet2CountField" minOccurs="0"/>
      <xs:element type="xs:short" name="TransmissionInterval" minOccurs="0"/>
      <xs:element type="xs:boolean" name="TransmissionIrregular" minOccurs="0"/>
      <xs:element type="Fields" name="Fields" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PGNs">
    <xs:sequence>
      <xs:element type="PGNInfo" name="PGNInfo" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PGNDefinitions">
    <xs:sequence>
      <xs:element type="xs:string" name="Comment"/>
      <xs:element type="xs:string" name="CreatorCode"/>
      <xs:element type="xs:string" name="License"/>
      <xs:element type="xs:string" name="Version"/>
      <xs:element type="xs:string" name="Copyright"/>
      <xs:element type="FieldTypes" name="FieldTypes"/>
      <xs:element type="MissingEnumerations" name="MissingEnumerations"/>
      <xs:element type="LookupEnumerations" name="LookupEnumerations"/>
      <xs:element type="LookupBitEnumerations" name="LookupBitEnumerations"/>
      <xs:element type="PGNs" name="PGNs"/>
    </xs:sequence>
    <xs:attribute type="xs:float" name="Version"/>
  </xs:complexType>
</xs:schema>
